    <footer>
            <img src="img/csumb_logo_blue.png" alt="CSUMB Logo Image"><br />
            CST336 Internet Programming. 2019&copy; Piwarski <br />
            <strong>Disclaimer:</strong> The information in this webpage is used
            for academic purposes only. Some of the information may not be accurate.
            <br />
        </footer>
    </body>
</html>