<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Solar System</title>
</head>
<body>
    <header>
        <h1>Welcome to the Solar System Site!</h1>
    </header>
    <img src="/img/solar_system.jpg" alt="The Solar System">
    <p>Click on a planet to know more about it:</p>
    <a href="/mercury"> Mercury </a><br />
    <a href="/venus"> Venus </a><br />
    Earth <br />
    <footer>
        <img src="img/csumb_logo_blue.png" alt="CSUMB Logo Image"><br />
        CST336 Internet Programming. 2019&copy; Piwarski <br />
        <strong>Disclaimer:</strong> The information in this webpage is used
        for academic purposes only.
        <br />
    </footer>
</body>
</html>