body, header, footer {
    background-color: #85E8FF !important;
    text-align: center;
    font-family: "lato", "sans-serif";
}

footer {
    font-size: .8em;
    color: #10355E;
    padding-top: 20px;
}

footer:hover {
    font-size: 1.0em;
    transition-duration: 0s;
}

img, nav {
    border-radius: 10px;
}

nav {
    background-color: #FF9C85 !important;
    border: thin black solid;
    width: 500px;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav a {
    font-style: "lato", "sans-serif";
    padding-top: 10px;
    font-size: 2em;
    border-bottom: none;
    color: black;
    margin: auto 0;
    text-decoration: none;
}

.divider {
    padding-left: 20px;
    padding-right: 20px;
}

nav a:hover {
    border-bottom: 2px solid black;
}

p {
    font-size: 1.5em;
    font-family: "lato", "sans-serif";
  }
